@font-face {
    font-family: lovecraft;
    src: url(refs/Unutterable-z8E8X.ttf);
}
body {
    background-image: url(refs/background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: lovecraft, sans-serif;
    color:white;
}
h1 {
    font-size: 400%;
}